.footer {
  max-width: 1140px;
  /* TODO: looks ugly on mobile */
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: salmon 1px solid;
}
