@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.catalog {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.catalog_item {
  border: 1px solid salmon;
  margin: 0.5rem;
  padding: 1rem;
}

.catalog_item img {
  width: 250px;
}

.catalog_item_description {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog_item_description_actions a {
  cursor: pointer;
}

.category {
  list-style: none;
  display: flex;
  max-width: 1140px;
  flex-wrap: wrap;
  margin: 1.5rem auto;
}

.category li {
  margin-right: 10px;
}
